<head>
    <title>story lines | {{#each array}}{{title}}{{/each}}</title>
    {{> main/head-block}}
    <!-- story page js script -->
    <script type="text/javascript" src="/assets/js/project.js"></script>
</head>
<body class="max mx-auto">
  <header>
    {{> main/nav-menu-block}}
  </header>
  <main>
    <section class="title-container mx-auto">
      <h1 id="project-title" data-id="{{#each array}}{{id}}{{/each}}" class="title mx-auto">{{#each array}}{{title}}{{/each}}</h1>
    </section>
    <section class="section-container mx-auto text-center">
      <p class="section-title">Information</p>
      <div class="row-container row mx-auto">
        <p class="subtitle half mx-auto">Owner</p> 
        <p class="subtitle half mx-auto">Created</p>
      </div>
      <div class="row-container row mx-auto">
        <p class="section-item half mx-auto">{{#each array}}{{#each project}}{{ownerName}}{{/each}}{{/each}}</p>
        <p class="section-item half mx-auto">{{#each array}}{{#each project}}{{createdAt}}{{/each}}{{/each}}</p>  
      </div>   
    </section>
    <!-- project details -->
    <section class="section-container mx-auto text-center">
      <p class="section-title">Description</p>
      <p class="section-item-tall full mx-auto">{{#each array}}{{#each project}}{{description}}{{/each}}{{/each}}</p>
    </section>
    <section class="section-container mx-auto">
      <div class="row-container row mx-auto">
        <button id="edit-project-btn" class="button mx-auto">Edit Project</button>
        <button id="add-story-btn" class="button mx-auto">Add Story</button>
      </div>
    </section>
    <section class="section-container mx-auto text-center">
      <p class="section-title">Stories</p>
      {{#each array}}
        {{#each story}}
          {{> project/story}}
        {{/each}}
      {{/each}}
  </section>
  </main>
</body>