<head>
    <title>story lines | {{title}}</title>
    {{> main/head-block}}
    <!-- story page js script -->
    <script type="text/javascript" src="/assets/js/story.js"></script>
</head>
<body class="max mx-auto">
  <header>
    {{> main/nav-menu-block}}
  </header>
  <main>
    <!-- title -->
    <section class="title-container mx-auto">
      <h1 id="story-title" data-id="{{#each array}}{{id}}{{/each}}" class="title mx-auto">{{#each array}}{{title}}{{/each}}</h1>
    </section>
    <!-- information -->
    <section class="section-container mx-auto text-center">
      <p class="section-title">Information</p>
      <div class="row-container row mx-auto">
        <p class="subtitle half">Reporter</p> 
        <p class="subtitle half">Assignee</p>
      </div>
      <div class="row-container row mx-auto">
        <p class="section-item half">{{#each array}}{{#each story}}{{reporterName}}{{/each}}{{/each}}</p>
        <p class="section-item half">{{#each array}}{{#each story}}{{assigneeName}}{{/each}}{{/each}}</p>
      </div>   
      <div class="row-container row mx-auto">
        <p class="subtitle half">Created</p> 
        <p class="subtitle half">Due</p>   
      </div>
      <div class="row-container row mx-auto">
        <p id="created" class="section-item half">{{#each array}}{{#each story}}{{createdAt}}{{/each}}{{/each}}</p>  
        <p id="due" class="section-item half {{#each array}}{{#each story}}{{colorClass}}{{/each}}{{/each}}">{{#each array}}{{#each story}}{{due}}{{/each}}{{/each}}</p> 
      </div>
      <div class="row-container row mx-auto">
        <p class="subtitle half">Estimate</p>
        <p class="subtitle half">Status</p>
      </div>
      <div class="row-container row mx-auto">
        <p id="estimate" class="section-item half">{{#each array}}{{#each story}}{{estimate}}{{/each}}{{/each}} Days</p>  
        <p id="status" class="section-item half">{{#each array}}{{#each story}}{{statusValue}}{{/each}}{{/each}}</p> 
      </div>
    </section>
    <!-- story details -->
    <section class="section-container mx-auto text-center">
      <p class="section-title full">Description</p>
      <p class="section-item-tall full">{{#each array}}{{#each story}}{{description}}{{/each}}{{/each}}</p>
    </section>
    <section class="section-container mx-auto text-center">
      <div class="row-container row mx-auto">
        <button id="edit-story-btn" class="button mx-auto">Edit Story</button>
        <button id="add-task-btn" class="button mx-auto">Add Task</button>
      </div>
    </section>
    <!-- tasks -->
    <section class="section-container mx-auto text-center">
      <p class="section-title">Tasks</p>
      {{#each array}}
        {{#each task}}
          {{> story/task}}
        {{/each}}
      {{/each}}
  </section>
  </main>
</body>