<div class="row-container row mx-auto">
  <p class="section-item short {{colorClass}}">{{daysRem}}</p>
  <p id="task-name" class="section-item medium-short-1" data-id="{{id}}">{{title}}</p>
  <select id="task-status-select-{{id}}" class="medium-short-2 task-status">
    {{#each status}}
        {{> story/status-option}}
    {{/each}}
  </select>
</div>